# Fingerprint FOD gesture & HBM
on post-fs-data
    chmod 0777 /sys/devices/platform/mx-gs/gesture_control
    start mz_sms_receive_fix_prepare

on shutdown
    exec -- /system/bin/mz_sms_receive_fix shutdown

on property:sys.boot_completed=1
    start mz_sms_receive_fix_complete
    start mz_gesture_control_init
    start mz_fp_hbm_daemon

service mz_sms_receive_fix_prepare /system/bin/mz_sms_receive_fix boot-prepare
    class core
    user root
    group root
    disabled
    oneshot

service mz_sms_receive_fix_complete /system/bin/mz_sms_receive_fix boot-complete
    class late_start
    user root
    group root
    disabled
    oneshot

service mz_gesture_control_init /system/bin/mz_fp_gesture_init
    class late_start
    user system
    group system
    disabled
    oneshot

service mz_fp_hbm_daemon /system/bin/mz_fp_hbm_daemon
    class late_start
    user root
    group root input
    disabled
